.menu{
    width:600px; 
            height:500px; 
            position: fixed; 
           
            top: 15%; 
            left: 45%; 
            right: 50%;
            margin-top: -100px; 
            margin-left: -100px; 
}
.menu>a{
    color: black;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin-right: 2em;

    
}

.menu>a:hover{
    color: rgb(240, 72, 72);
    font-size: large;
    font-weight: normal;
}



 /*mene en la dereecha */ 
.menuRight>a{
    color: black;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin-right: 2em;
    
}

.menuRight>a:hover{
    color: rgb(240, 72, 72);
    font-size: large;
    font-weight: normal;
}

.menuRight{
    float: right;
    padding-top: 30px;
    padding-left: 2em;
    margin-top: 2em;
}

 /*mene en la Izquierda */ 
.menuleft>a{
    color: black;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin-right: 2em;
    
    
}
.menuleft>a:hover{
    color: rgb(240, 72, 72);
    font-size: large;
    font-weight: normal;
}
.menuleft{
    float: left;
    padding-top: 30px;
    padding-left: 2em;
    margin-top: 2em;
}
/*pa la izquierda */ 
.aleft{
    float: left;

}
/*pa la derecha */ 
.aright{
    float: right;

}
/*editando imagenes */ 
.imagenindex{

        /* max-width: 400px; */
        margin-top: 7em ;
        margin-left:1em;
        margin-right: 5em;
        border-radius: 5px;
        width: 800px;
        height: 700px;
    
}
.acercadeI{
    
    /* max-width: 400px; */
    margin-left:1em;
    margin-right: 5em;
    border-radius: 5px;
    width: 600px;
    height: 600px;
}
.indexlogo{
    margin-top: 15em;
    /* max-width: 400px; */
    margin-left:15em;
    border-radius: 5px;
    width: 500px;
    height: 300px;
}
/*dar estilo a un titulo */ 
.titulo{
    color: black;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    margin-left: 11em;
}
/*texto en la esquina con fondo*/ 
.estiloRectagulo{
    color: white;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 50em;

    margin-top: -1em;
    margin-left: -0.9em;
    padding-top: 2px;
    font-size: xx-large;
    text-align: center;

}

.RectanguloRight{
    color: white;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 49em;
    margin-top: -1em;
    padding-top: 0.2px;
    font-size: xx-large;

}

/*esto esta copiado del ejemplo para justificar y dar estilo al texto */ 

.apar{
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    font-size: large;
    padding-right: 1em;
    line-height: 2px;
    margin-left: 3em;
    
}